{% extends "base.html" %}

{% block title %}
    Оскорбления
{% endblock %}

{% block body %}
    <h2 class="py-2 border-bottom">О проекте</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <p>Наш проект – это творческое пространство, где встречаются инновационные идеи, исследования и юмор. Мы гордимся представлением двух уникальных инструментов – генератора итераций предложения и генератора оскорблений на основе словаря <strong>Saneking*</strong>.</p>
                <p>Итерации предложения – это наша специализация. Мы создаем инструмент, который помогает вам разнообразить ваш язык, добавляя креативные и гармоничные вариации ваших фраз. Независимо от того, пишете ли вы стихи, прозу или технические тексты, наш генератор поможет вам обнаружить новые сферы выражения.</p>
                <p>Генератор оскорблений на основе словаря <strong>Saneking*</strong> – это наша дерзкая сторона. Мы уверены, что в юморе нет запретных тем, и наш инструмент предоставляет возможность создавать остроумные оскорбления с использованием словаря оскорблений <strong>Saneking*</strong>. Пожалуйста, помните, что это только шутка, и мы призываем к уважению и толерантности во всех сферах общения.</p>
                <p>Мы стремимся создавать уникальные и веселые инструменты, которые поднимут ваше творчество на новый уровень. Надеемся, что наш проект принесет вам радость и вдохновение. Спасибо за то, что выбрали нас!</p>
                <p>(Весь текст на этой странице создан при помощи нейросети. Верить ему или нет – выбор ваш.)</p>
                <p class="border-top pt-2 mt-5"><var>* Bikov «<strong>Saneking</strong>» Andrey – игрок carry-позиции в киберспортивной дисциплине Dota 2, в настоящее время без команды. Один из первых представителей «dead inside» культуры, прямиком из 2014 года. В свое время был известен также, как и Артас, однако упустил шанс стать популярным. Так и стримит что тогда, что сейчас, на 20 человек.</var></p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img src="https://sun9-77.userapi.com/impg/Hyn9lbliRoSD5mrl_f1Y1LYWbptshomfCDfiiQ/uUcAbuTCsB0.jpg?size=1080x1062&quality=95&sign=b6edad7a1a1714a730e3505ec15465c0&c_uniq_tag=bUtC9eOi28VgPGcYBr7QLcIZV3nxQtREBjk4zYH99Sc&type=album" alt="responsive webite" class="img-fluid rounded-4">
                <p class="text-center"><var>Фотография Saneking</var></p>
            </div>
        </div>
    </div>
{% endblock %}