{% extends "base.html" %}

{% block title %}
    Профиль: {{ name }}
{% endblock %}

{% block body %}
    <div class="my-2 alert alert-danger" role="alert">
        Не удалось обработать ваш запрос в силу вашей убогости. Пожалуйста, повторите попытку, или покиньте сайт. Вам не стоит на нем находиться, если вас интересуют такие вещи.
    </div>

    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="motion-container card rounded-4 p-4">
            <div class="card rounded-4 p-4">
                <div class="image d-flex flex-column justify-content-center align-items-center">
                    <img src="/static/images/profile.jpg" alt="profile image" height="100" width="100" class="me-2 rounded-circle border">
                    <span class="name mt-3">
                        <strong>{{ name }}</strong>
                    </span>
                    <span class="idd">@wtfyouare</span>
                    <div class=" d-flex mt-2">
                        <button class="colorful btn btn-light text-light disabled">Редактировать профиль</button>
                    </div>
                    <div class="text mt-3 text-center">
                        <span>
                            <br>Просто интересно, зачем ты вообще сюда зашел?
                            <br>У тебя буквально не было причин нажимать сюда, но ты нажал?
                            <br>Оно того стоило?
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}